html{
	background-color: rgb(109, 37, 37);
}
header {
	margin-top: 2px;
    text-align: left;
    font-size: 20px;
    color: #FF007F; /* This is a rose color */
}

h1{
	text-align: center;
	font-size: 20px;
	color:brown;
}

.question{
	text-align:center;
	resize: none;
}
.button1 {
    background-color: red; /* Sets the initial color to red */
    color: white; /* Sets the text color to white for better readability */
    border: none; /* Optional: removes the border */
    padding: 10px 20px; /* Optional: adds some padding */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
	border-bottom: black 4px solid;
	border-right: black 4px solid;
}

.button1:hover {
	background-color: wheat;
}

.about{
	margin-top: 500px;
	text-align: center;
}